# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.eggs/
.venv/
.uv/
.env
.env.*
**/.env
**/.env.*
**/.env
**/.env.*

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Cache
.pytest_cache/
.mypy_cache/

# Byte-compiled
*.pyc

# Node (if any front assets later)
node_modules/
